$color-body: #666F7B;
$color-headers: #10161A;
$color-primary: #6195FF;
$theme-color: #103d87;
$color-primary-dark: #1251ce;
$color-ondark: #FCFCFF;
$color-bgdark: #1C1D21;
$color-grey1: #EEE;
$color-grey2: #F4F4F4;
$color-grey3: #FAFAFA;
$color-white: #FFF;
$color-input: #354052;

$nav-base-font-size: 14px;

$default-shadow1: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
$default-shadow2: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
$default-shadow: $default-shadow1, $default-shadow2;


/* -- typography -- */
body {
  font-family: 'Varela Round', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
  color: $color-body;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: $color-headers;
}

h1, h2, h3 {
  margin-top: 0px;
  margin-bottom: 20px;
}

h4, h5, h6 {
  margin-top: 32px;
  margin-bottom: 12px;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

a {
  color: $color-primary;
  text-decoration: none;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
  opacity: 0.9;
  color: $color-primary;
}

.main-color {
  color: $color-primary;
}

.white-text {
  color: $color-white;
}

::-moz-selection {
  background-color: $color-primary;
  color: $color-white;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none
}

/* -- section  -- */

.section {
  position: relative;
}

.md-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.sm-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}


/* --  background section  -- */
.section {
  background-color: $color-grey3;
}

.bg-grey {
  background-color: $color-grey2;
  border-top: 1px solid $color-grey1;
  border-bottom: 1px solid $color-grey1;
}

.bg-dark {
  background-color: $color-bgdark;
}


/* --  background image section  -- */

.bg-img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bg-img .overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .8;
  background: $color-bgdark;
}


/* --  section header  -- */

.section-header {
  position: relative;
  margin-bottom: 60px;
}

.section-desc {
  text-align: justify;
  text-justify: inter-character;
}

.bg-dark .section-header * {
  color: $color-ondark;
}

.section-header .title {
  text-transform: capitalize;
}

.title:after {
  content: "";
  display: block;
  height: 4px;
  width: 40px;
  background-color: $color-primary;
  margin-top: 20px;
}

.text-center .title:after {
  margin: 20px auto 0px;
}

/* --  Input  -- */

input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="date"], input[type="url"], input[type="tel"], textarea {
  height: 40px;
  width: 100%;
  border: none;
  background: $color-grey2;
  border-bottom: 2px solid $color-grey1;
  color: $color-input;
  padding: 0px 10px;
  opacity: 0.5;
  -webkit-transition: 0.2s border-color, 0.2s opacity;
  transition: 0.2s border-color, 0.2s opacity;
}

textarea {
  padding: 10px 10px;
  min-height: 80px;
  resize: vertical;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="url"]:focus, input[type="tel"]:focus, textarea:focus {
  border-color: $color-primary;
  opacity: 1;
}

/* --  Buttons  -- */

.main-btn, .white-btn, .outline-btn {
  display: block;
  padding: 10px 35px;
  margin: 3px;
  border: 2px solid transparent;
  border-radius: 3px;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.main-btn {
  background: $color-primary-dark;
  color: $color-white;
}

.white-btn {
  background: $color-white;
  color: $color-headers !important;
}

.outline-btn {
  background: transparent;
  color: $color-primary-dark !important;
  border-color: $color-primary-dark;
}

.main-btn:hover, .white-btn:hover, .outline-btn:hover {
  opacity: 0.8;
}


/*------------------------------------*\
	Logo
\*------------------------------------*/

.navbar-brand {
  padding: 0;
}

.navbar-brand .logo, .navbar-brand .logo-alt {
  max-height: 50px;
  display: block;
}

#nav:not(.nav-transparent):not(.fixed-nav) .navbar-brand .logo-alt {
  display: none;
}

#nav.nav-transparent:not(.fixed-nav) .navbar-brand .logo {
  display: none;
}

#nav.fixed-nav .navbar-brand .logo-alt {
  display: none;
}

@media only screen and (max-width: 767px) {
  #nav.nav-transparent .navbar-brand .logo-alt {
    display: none !important;
  }
  #nav.nav-transparent .navbar-brand .logo {
    display: block !important;
  }
}


// alternate: header in place of logo
#nav .navbar-text-header {
  line-height: 52px;
  font-size: 32px;
  color: $color-ondark;
}

#nav.fixed-nav .navbar-text-header {
  color: $color-headers;
}

/*------------------------------------*\
	Navigation
\*------------------------------------*/

#nav {
  padding: 10px 0px;
  background: $color-white;
  -webkit-transition: 0.2s padding;
  transition: 0.2s padding;
  z-index: 999;
}

#nav.navbar {
  border: none;
  border-radius: 0;
  margin-bottom: 0px;
}

#nav.fixed-nav {
  position: fixed;
  left: 0;
  right: 0;
  padding: 8px 0px;
  background-color: $color-white !important;
  border-bottom: 1px solid $color-grey1;
}

#nav.nav-transparent {
  background: transparent;
}

#nav-container {
  width: 100%;
  height: 50px; // 100% not working, sorry for the hardcoding
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


/* -- default nav -- */

@media only screen and (min-width: 768px) {
  .main-nav li {
    padding: 0px 15px;
  }
  .main-nav li a {
    font-size: $nav-base-font-size;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
  }
  .main-nav > li > a {
    color: $color-headers;
    padding: 15px 0px;
  }
  #nav.nav-transparent:not(.fixed-nav) .main-nav > li > a {
    color: $color-white;
  }
  .main-nav > li > a:hover, .main-nav > li > a:focus, .main-nav > li.active > a {
    background: transparent;
    color: $color-primary;
  }
  .main-nav > li > a:after {
    content: "";
    display: block;
    background-color: $color-primary;
    height: 2px;
    width: 0%;
    -webkit-transition: 0.2s width;
    transition: 0.2s width;
  }
  .main-nav > li > a:hover:after, .main-nav > li.active > a:after {
    width: 100%;
  }
  /* dropdown */
  .has-dropdown {
    position: relative;
  }
  .has-dropdown > a:before {
    font-family: 'FontAwesome';
    content: "\f054";
    font-size: 6px;
    margin-left: 6px;
    float: right;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: 0.2s transform;
    transition: 0.2s transform;
  }
  .dropdown {
    position: absolute;
    right: -50%;
    top: 0;
    background-color: $color-primary;
    width: 200px;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(53, 64, 82, 0.2);
    box-shadow: 0px 5px 5px -5px rgba(53, 64, 82, 0.2);
    -webkit-transform: translateY(15px) translateX(50%);
    -ms-transform: translateY(15px) translateX(50%);
    transform: translateY(15px) translateX(50%);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  .main-nav > .has-dropdown > .dropdown {
    top: 100%;
    right: 50%;
  }
  .main-nav > .has-dropdown > .dropdown .dropdown.dropdown-left {
    right: 150%;
  }
  .dropdown li a {
    display: block;
    color: $color-white;
    border-top: 1px solid rgba(250, 250, 250, 0.1);
    padding: 10px 0px;
  }
  .dropdown li:nth-child(1) a {
    border-top: none;
  }
  .has-dropdown:hover > .dropdown {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px) translateX(50%);
    -ms-transform: translateY(0px) translateX(50%);
    transform: translateY(0px) translateX(50%);
  }
  .has-dropdown:hover > a:before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .nav-collapse {
    display: none;
  }
}


/* -- mobile nav -- */

@media only screen and (max-width: 767px) {
  #nav {
    padding: 0px 0px;
  }
  #nav.nav-transparent {
    background: $color-white;
  }
  .main-nav {
    position: fixed;
    right: 0;
    height: calc(100vh - 80px);
    -webkit-box-shadow: 0px 80px 0px 0px $color-bgdark;
    box-shadow: 0px 80px 0px 0px $color-bgdark;
    max-width: 250px;
    width: 0%;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    margin: 0;
    overflow-y: auto;
    background: $color-bgdark;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  #nav.open .main-nav {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    width: 100%;
  }
  .main-nav li {
    border-top: 1px solid rgba(250, 250, 250, 0.1);
  }
  .main-nav li a {
    display: block;
    color: $color-white;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  .main-nav > li.active {
    border-left: 6px solid $color-primary;
  }
  .main-nav li a:hover, .main-nav li a:focus {
    background-color: $color-primary;
    color: $color-white;
    opacity: 1;
  }
  .has-dropdown > a:after {
    content: "\f054";
    font-family: 'FontAwesome';
    float: right;
    -webkit-transition: 0.2s -webkit-transform;
    transition: 0.2s -webkit-transform;
    transition: 0.2s transform;
    transition: 0.2s transform, 0.2s -webkit-transform;
  }
  .dropdown {
    opacity: 0;
    visibility: hidden;
    height: 0;
    background: rgba(250, 250, 250, 0.1);
  }
  .dropdown li a {
    padding: 6px 10px;
  }
  .has-dropdown.open-drop > a:after {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .has-dropdown.open-drop > .dropdown {
    opacity: 1;
    visibility: visible;
    height: auto;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
}


/* -- nav btn collapse -- */

.nav-collapse {
  position: relative;
  float: right;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 99999;
}

.nav-collapse span {
  display: block;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
}

.open .nav-collapse span:before, .open .nav-collapse span:after  {
  background-color: $color-primary !important;
}

.nav-collapse span:before, .nav-collapse span:after {
  content: "";
  display: block;
}

.nav-collapse span, .nav-collapse span:before, .nav-collapse span:after {
  height: 4px;
  background: $color-headers;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.nav-collapse span:before {
  -webkit-transform: translate(0%, 10px);
  -ms-transform: translate(0%, 10px);
  transform: translate(0%, 10px);
}

.nav-collapse span:after {
  -webkit-transform: translate(0%, -14px);
  -ms-transform: translate(0%, -14px);
  transform: translate(0%, -14px);
}

#nav.open .nav-collapse span {
  background: transparent;
}

#nav.open .nav-collapse span:before {
  -webkit-transform: translateY(0px) rotate(-135deg);
  -ms-transform: translateY(0px) rotate(-135deg);
  transform: translateY(0px) rotate(-135deg);
}

#nav.open .nav-collapse span:after {
  -webkit-transform: translateY(-4px) rotate(135deg);
  -ms-transform: translateY(-4px) rotate(135deg);
  transform: translateY(-4px) rotate(135deg);
}


// side links

#fixed-side-links {
  font-size: 12px;
  background: transparent;
  min-width: fit-content;
  width: calc(80vw - 70px);
  max-width: 480px;
  position: fixed;
  height: 72px;
  top : auto;
  bottom: 0;
  left: 4vw;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: $default-shadow;
}


#fixed-side-links a {
  color: $color-ondark;
  transition: all 0.3s;
  margin: 4px;
}

#fixed-side-links a:hover {
  color: $color-primary-dark;
  transition: all 0.3s;
  margin: 4px;
}

.fixed-nav #fixed-side-links {
  background-color: $color-ondark;
  border-top: 1px solid $color-grey1;
  border-right: 1px solid $color-grey1;
  border-bottom: 1px solid $color-grey1;
}

.fixed-nav #fixed-side-links a {
  color: $color-headers;
}

.fixed-nav #fixed-side-links a:hover{
  color: $color-primary;
}


/*------------------------------------*\
	Header
\*------------------------------------*/

header {
  position: relative;
}

#home {
  height: 100vh;
}

#home .home-wrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

.home-content h1 {
  text-transform: uppercase;
}

.home-content button {
  margin-top: 20px;
}

.header-wrapper h2 {
  display: inline-block;
  margin-bottom: 0px;
}

.header-wrapper .breadcrumb {
  float: right;
  background: transparent;
  margin-bottom: 0px;
}

.header-wrapper .breadcrumb .breadcrumb-item.active {
  color: $color-body;
}

.breadcrumb > li + li:before {
  color: $color-body;
}

// header logo space
#header-img img {
  object-fit: contain;
  width: 480px;
  height: auto;
}


/*------------------------------------*\
	Footer
\*------------------------------------*/

#footer {
  position: relative;
}

.footer-logo {
  text-align: center;
  margin-bottom: 40px;
}

.footer-logo > a > img {
  max-height: 80px;
}

.footer-follow {
  text-align: center;
  margin-bottom: 20px;
}

.footer-follow li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 13px;
}

.footer-follow li a {
  display: inline-block;
  width: 72px;
  height: 72px;
  line-height: 80px;
  text-align: center;
  border-radius: 3px;
  /* background-color: $color-primary; */
  color: $color-primary;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.footer-follow li a:hover {
  color: $color-white;
}

.footer-copyright p {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}



// my style
#incentive-boxes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.incentive-box {
  width: 280px;
  height: 200px;
  margin: 16px;
  padding: 16px;
  border-radius: 2px;
  background-color: $color-bgdark;
  color: $color-ondark;
  font-weight: 500;
  box-shadow: $default-shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.incentive-box i {
  font-size: 32px;
  color: $color-primary;
}

#fixed-side-links i {
  font-size: 48px;
}

.btn-space {
  width: 100%;
  margin: 8px;
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


#responsibilities .section-desc .row {
  width: calc(100% - 15px);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#responsibilities .section-desc .row .subheader {
  width: 256px !important;
  flex-grow: 0;
  padding-left: 0;
  padding-right: 16px;
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 80px;
}

#responsibilities .section-desc .row .content {
  min-width: 288px;
  width: 60%;
  flex-grow: 1;
}

#responsibilities .section-desc .row .subheader h4 {
  margin-top: 4px;
  margin-bottom: 4px;
}


/*------------------------------------*\
	Team
\*------------------------------------*/

.team {
  position: relative;
  background-color: #F4F4F4;
  padding: 40px 20px;
  margin: 15px 0px;
}

.team::after {
  content: "";
  background-color: #1C1D21;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 0%;
  z-index: 1;
  -webkit-transition: 0.2s height;
  transition: 0.2s height;
}

.team:hover:after {
  height: 100%;
}

.team-img {
  position: relative;
  margin-bottom: 20px;
  z-index: 11;
}

.team-img>img {
  width: 100%;
}

.team .overlay {
  background: #1C1D21;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.team:hover .overlay {
  opacity: 0.8;
}

.team .team-content {
  text-align: center;
  position: relative;
  z-index: 11;
}

.team .team-content h3 {
  margin-bottom: 10px;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

.team .team-content span {
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

.team:hover .team-content h3 {
  color: #FFF;
}

.team:hover .team-content span {
  color: #6195FF;
}

.team .team-social {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.team .team-social a {
  display: block;
  line-height: 50px;
  width: 50px;
  text-align: center;
  background-color: #6195FF;
  color: #FFF;
}

.team:hover .team-social {
  opacity: 1;
}


/*------------------------------------*\
	Responsive
\*------------------------------------*/


@media only screen and (max-width: 1200px) {

  #nav-container {
    padding: 0;
  }

  .navbar-text-header {
    font-size: 28px;
  }

  .main-nav li {
    padding: 0px 12px;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar-text-header {
    font-size: 18px;
  }

  .main-nav li {
    padding: 0px 8px;
  }
}

@media only screen and (max-width: 989px) and (min-width: 768px) {
  #nav-container {
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .section-header h2.title {
    font-size: 31.5px;
  }

  .section-desc {
    padding: 15px;
  }

  .main-btn, .default-btn, .outline-btn, .white-btn {
    padding: 8px 22px;
    font-size: 14px;
  }

  .home-content h1 {
    font-size: 36px;
  }

  .header-wrapper h2 {
    margin-bottom: 20px;
    text-align: center;
    display: block;
  }

  .header-wrapper .breadcrumb {
    float: none;
    text-align: center;
  }


  #nav .navbar-text-header {
    line-height: 40px;
    font-size: 16px;
    display: inline-block;
    color: $color-headers !important;
  }

  #header-img img {
    width: 280px;
  }
  #responsibilities .section-desc .row {
    justify-content: center;
    margin: 0;
  }

  .section-header {
    margin-bottom: 36px;
  }

  #responsibilities .section-desc .row .subheader{
    min-height: 0;
    padding-top: 18px;
    padding-bottom: 4px;
    padding-right: 0;
  }

  #responsibilities .section-desc .row .content{
    font-size: 14px;
  }
  .navbar-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-header > * {
    padding-left: 12px;
  }

  #fixed-side-links i {
    font-size: 32px;
  }
}

/*------------------------------------*\
	Owl theme
\*------------------------------------*/

/* -- dots -- */

.owl-theme .owl-dots .owl-dot span {
  border: none;
  background: $color-grey1;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background: $color-primary;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: $color-primary;
  width: 20px;
}

/* -- nav -- */

.owl-theme .owl-nav {
  opacity: 0;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.owl-theme:hover .owl-nav {
  opacity: 1;
}

.owl-theme .owl-nav [class*='owl-'] {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: $color-primary;
  color: $color-white;
  padding: 0px;
  width: 50px;
  height: 50px;
  border-radius: 3px;
  line-height: 50px;
  margin: 0;
}

.owl-theme .owl-prev {
  left: 0px;
}

.owl-theme .owl-next {
  right: 0px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  opacity: 0.8;
  background: $color-primary;
}


/*------------------------------------*\
	Back to top
\*------------------------------------*/

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: $color-primary;
  border-radius: 3px;
  color: $color-white;
  z-index: 9999;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
  cursor: pointer;
}

#back-to-top:hover {
  opacity: 0.8;
}

/*------------------------------------*\
	Preloader
\*------------------------------------*/


#preloader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: $color-white;
  z-index: 99999;
}

.preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.preloader span {
  display: inline-block;
  background-color: $color-primary;
  width: 25px;
  height: 25px;
  -webkit-animation: 1s preload ease-in-out infinite;
  animation: preload 1s ease-in-out infinite;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  border-radius: 50%;
}

.preloader span:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.preloader span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.preloader span:nth-child(3) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.preloader span:nth-child(4) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes preload {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes preload {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
